<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title | default("Bitez") }}</title>
    <meta name="title" content="{{ title | default('Bitez') }}" />
    <meta
      name="description"
      content="{{ description | default('Bite-sized content for modern audiences') }}"
    />
    <meta
      name="keywords"
      content="{{ keywords | default('bitez, content, platform') }}"
    />
    <meta name="author" content="{{ author | default('Bitez Team') }}" />

    <meta name="robots" content="index, follow" />

    <link rel="canonical" href="{{ site.url }}{{ page.url or '' }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.url or '' }}" />
    <meta property="og:title" content="{{ title | default('Bitez') }}" />
    <meta
      property="og:description"
      content="{{ description | default('Bite-sized content for modern audiences') }}"
    />
    <meta
      property="og:image"
      content="{{ site.url }}/assets/logo/bitez_logo_B.jpg"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url or '' }}" />
    <meta name="twitter:title" content="{{ title | default('Bitez') }}" />
    <meta
      name="twitter:description"
      content="{{ description | default('Bite-sized content for modern audiences') }}"
    />
    <meta
      name="twitter:image"
      content="{{ site.url }}/assets/logo/bitez_logo_B.jpg"
    />

    <link
      rel="icon"
      type="image/png"
      href="./assets/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="./assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="./assets/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Bitez" />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />

    <meta name="theme-color" content="#ee2554" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body
    class="{% if not '/faq' in page.url %}bg-muted{% endif %} flex flex-col gap-[72px]"
  >
    {% include "partials/navigation.njk" %}

    {{ content | safe }}

    {% include "partials/footer.njk" %}
    <script src="./js/global.js"></script>
    <script src="./js/icons.js" type="module"></script>
  </body>
</html>
