@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  color: #262e49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Champ", sans-serif;
  text-transform: uppercase;
}

@font-face {
  font-family: "Champ";
  src: url("../assets/fonts/Champ-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
