---
layout: layouts/base.njk
title: BITEZ | Kontaktujte nás pro gastro marketing
description: Rádi vám pomůžeme zvýšit návštěvnost vaší restaurace! Kontaktujte nás a zjistěte, jak vám sociální sítě dokáží zvýšit návštěvnost.
permalink: "contact.html"
---

<header
  class="bg-primary pt-[120px] pb-[76px] px-5 flex flex-col items-center md:p-12 md:h-screen md:pt-[176px] md:justify-center"
>
  <h2
    class="text-center text-white text-[54px] leading-[54px] mb-8 md:mb-12 md:text-7xl"
  >
    Jak začít
    <br class="md:hidden" />
    s Bitez?
  </h2>
  <p
    class="text-center text-xl mb-10 text-white md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Chcete začít s <strong>gatro marketingem?</strong> Zavolejte nám nebo nechte
    svůj kontakt a můžeme se do toho pustit!
  </p>

  <div class="flex flex-col gap-10 md:flex-row md:justify-center w-full">
    <div
      class="bg-white p-6 rounded-xl mb-10 md:w-1/2 md:flex md:gap-10 shadow-[0_0_10px_rgba(0,0,0,0.2)]"
    >
      <div
        class="md:w-5/12 md:flex md:flex-col md:justify-between mb-10 md:mb-0"
      >
        <h3 class="text-[40px] leading-[46px] mb-8">
          Zavolejte
          <br />
          nebo
          <br />
          napište
        </h3>
        <p>Náš obchodní zástupce vám řekne, jak začít.</p>
      </div>
      <div class="md:w-7/12 md:flex md:flex-col md:justify-between">
        <div>
          <div class="flex items-center gap-2 mb-10 md:mb-4">
            <img
              src="./assets/images/bitez_adam.jpg"
              alt="Fotografie Adama Nykla - obchodního zástupce"
              class="w-24 h-24 rounded-full object-cover"
            />
            <div>
              <h4 class="text-[32px] leading-[36px] font-black">Adam Nykl</h4>
              <p class="text-[18px]">Obchodní zástupce</p>
            </div>
          </div>
          <ul class="flex flex-col gap-4 mb-4">
            <li class="flex items-center gap-4">
              <img
                src="./assets/graphic/contacts/phone-yellow.svg"
                alt="Ikona telefonu pro kontakt"
                class="w-10 h-10"
              />
              <a
                href="tel:+420 725 726 826"
                class="text-[24px] leading-[30px] font-black hover:underline"
                >+420 725 726 826</a
              >
            </li>
            <li class="flex items-center gap-4">
              <img
                src="./assets/graphic/contacts/email-yellow.svg"
                alt="Ikona emailu pro kontakt"
                class="w-10 h-10"
              />
              <a
                href="mailto:adam@bitez.cz"
                class="text-[24px] leading-[30px] font-black hover:underline"
                >adam@bitez.cz</a
              >
            </li>
          </ul>
        </div>
        <p>Každý den od 8:00 do 20:00</p>
      </div>
    </div>

    <div
      class="bg-white p-6 rounded-xl mb-10 md:w-1/2 md:flex md:gap-10 shadow-[0_0_10px_rgba(0,0,0,0.2)]"
    >
      <div
        class="md:w-1/2 md:flex md:flex-col md:justify-between mb-10 md:mb-0"
      >
        <h3 class="text-[40px] leading-[46px] mb-8">
          Nechte
          <br />
          nám
          <br />
          kontakt
        </h3>
        <p>Náš obchodní zástupce se vám sám ozve do 24 hodin.</p>
      </div>
      <form class="flex flex-col gap-2 md:w-1/2" data-contact-form>
        <div class="relative flex items-center gap-2">
          <input
            data-contact-form-input
            type="text"
            name="name"
            placeholder="Vaše jméno"
            class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-12 outline-none focus:border-accent"
          />
          <img
            src="./assets/graphic/contacts/user-red.svg"
            alt="Ikona uživatele pro kontakt"
            class="w-6 h-6 absolute right-4"
          />
        </div>
        <div class="relative flex items-center gap-2">
          <input
            data-contact-form-input
            type="email"
            name="email"
            placeholder="Váš email"
            class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-12 outline-none focus:border-accent"
          />
          <img
            src="./assets/graphic/contacts/email-red.svg"
            alt="Ikona emailu pro kontakt"
            class="w-6 h-6 absolute right-4"
          />
        </div>
        <div class="relative flex items-center gap-2">
          <input
            data-contact-form-input
            type="tel"
            name="phone"
            placeholder="Vaše telefonní číslo"
            class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-12 outline-none focus:border-accent"
          />
          <img
            src="./assets/graphic/contacts/phone-red.svg"
            alt="Ikona telefonu pro kontakt"
            class="w-6 h-6 absolute right-4"
          />
        </div>
        <button
          data-contact-form-submit
          class="w-full bg-light-green text-white p-5 rounded-lg font-bold hover:bg-dark-green transition-colors mt-4"
        >
          Kontaktujte mě
        </button>
      </form>
    </div>
  </div>
</header>

<section class="px-5 flex flex-col items-center md:px-12">
  <h3
    class="text-center text-primary text-[28px] leading-[34px] mb-4 md:mb-10 md:text-[40px] md:leading-[46px]"
  >
    Chcete vědět
    <br class="md:hidden" />
    jak to funguje?
  </h3>
  <h2 class="text-center text-[44px] leading-[46px] mb-8 md:mb-12 md:text-7xl">
    Domluvme
    <br class="md:hidden" />
    si termín
    <br />
    ukázky
    <br class="md:hidden" />
    s webinářem
  </h2>
  <p
    class="text-center text-xl mb-10 md:leading-[34px] md:text-[22px] max-w-160"
  >
    Během 30 minutové ukázky se dozvíte, jak Bitez funguje a proč je to ten
    <strong>pravý nástroj pro gastro marketing</strong>.
  </p>

  <div class="w-full md:w-1/2 mb-10">
    <div
      class="calendly-inline-widget"
      data-resize="true"
      data-url="https://calendly.com/adam-bitez/30min"
    ></div>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async
    ></script>
  </div>

  <h3
    class="text-center text-primary text-[28px] leading-[34px] mb-4 md:text-[40px] md:leading-[46px]"
  >
    Informace o firmě
  </h3>
  <p class="mb-10 text-center text-xl md:leading-[36px] md:text-[22px]">
    <strong>Bitez Technology s.r.o.</strong>
    <br class="md:hidden" />
    DIČ: CZ19896638
    <br />
    Ruprechtická 387/49,
    <br class="md:hidden" />
    Liberec I-Staré Město,
    <br class="md:hidden" />
    460 01 Liberec
  </p>
</section>

<section
  class="px-5 py-10 bg-primary flex flex-col items-center md:flex-row md:gap-4 md:justify-center"
>
  <h3 class="text-accent text-center text-[40px] leading-[46px]">Kanceláře</h3>
  <p class="text-center text-[40px] leading-[46px] text-white font-champ">
    nám. Soukenné
    <br class="md:hidden" />
    23/10, 460 07
    <br class="md:hidden" />
    Liberec-Jeřáb
  </p>
</section>

<section class="-mt-[72px]">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d918.3197651348486!2d15.055534194637422!3d50.76709227389741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709369ed88ab84d%3A0x9b3c5e41783df5b9!2zbsOhbS4gU291a2VubsOpIDIzLzEwLCA0NjAgMDcgTGliZXJlYy1KZcWZw6Fi!5e0!3m2!1sen!2scz!4v1741728191486!5m2!1sen!2scz"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full h-[600px]"
  ></iframe>
</section>
