---
layout: layouts/base.njk
title: Bitez - Jak to funguje
permalink: "how-does-it-work.html"
---

<header class="mt-30 px-5">
  <p
    class="text-center text-primary text-[28px] leading-[34px] font-black uppercase mb-4"
  >
    Fungující Instagram
    <br class="md:hidden" />
    a Facebook
  </p>
  <h2 class="text-center text-[44px] leading-[52px] font-black uppercase mb-8">
    Postaráme se
    <br class="md:hidden" />
    o sociální
    <br class="md:hidden" />
    sítě vaší
    <br class="md:hidden" />
    restaurace
  </h2>
  <p class="text-center text-xl mb-10">
    Spravujeme sociální sítě vašeho podniku prostřednictvím snadné aplikace,
    abyste se mohli naplno věnovat tomu, co je pro vás nejdůležitější.
  </p>

  <div class="grid grid-cols-1 gap-6">
    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(150,150,150,0.1)] flex flex-col gap-4"
    >
      <div class="flex items-center">
        <p class="font-black text-3xl uppercase">
          Správce vašich sítí <span class="text-primary">Bára</span>
        </p>
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Bára"
          alt="Quote"
          class="w-17 h-17"
        />
      </div>
      <div class="flex items-center">
        <p class="w-7/8">
          Na jedné straně je naše
          <br class="md:hidden" />
          <strong>specialistka na sociální sítě</strong>,
          <br class="md:hidden" />
          která má na starost vaše profily.
        </p>
        <i
          data-lucide="chevrons-down"
          class="w-18 h-18 text-accent w-1/8 mx-auto"
        ></i>
      </div>
    </div>

    <div
      class="px-8 py-10 bg-primary rounded-xl shadow-[0_0_10px_rgba(150,150,150,0.1)] flex flex-col gap-4"
    >
      <p class="font-black text-3xl text-white uppercase">
        Jednoduchá
        <br class="md:hidden" />
        aplikace
        <br class="md:hidden" />
        Bitez
      </p>
      <p class="text-white">
        Komunikujete přímo v aplikaci Bitez, která vám poskytuje maximální
        kontrolu v reálném čase. Vše vidíte přehledně a ke všemu se můžete
        vyjádřit.
      </p>
      <div class="flex justify-between -mx-1">
        <a href="#">
          <img
            src="./assets/graphic/GetItOnGooglePlay_Badge_Web_color_English.png"
            alt="Get it on Google Play"
            class="h-12"
          />
        </a>
        <a href="#">
          <img
            src="./assets/graphic/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png"
            alt="Download on the App Store"
            class="h-12"
          />
        </a>
      </div>
    </div>

    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(150,150,150,0.1)] flex flex-col gap-4"
    >
      <div class="flex items-center">
        <p class="font-black text-3xl uppercase">
          Vy jako majitel <span class="text-primary">podniku</span>
        </p>
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Jan"
          alt="Quote"
          class="w-17 h-17"
        />
      </div>
      <div class="flex items-center">
        <p class="w-7/8">
          Na druhé straně jste vy jako
          <br class="md:hidden" />
          majitel podniku, který na vše
          <br class="md:hidden" />
          dohlíží a vidí výsledky.
        </p>
        <i
          data-lucide="chevrons-up"
          class="w-18 h-18 text-accent w-1/8 mx-auto"
        ></i>
      </div>
    </div>
  </div>
</header>

{% include 'partials/how-does-it-work-component.njk' %}

<section
  class="px-5 bg-accent py-18 overflow-hidden flex flex-col items-center"
>
  <h2 class="text-center text-[54px] leading-[64px] font-black uppercase mb-8">
    Publikační plány
  </h2>
  <p class="text-center text-xl mb-12">
    Každý týden v aplikaci <strong>najdete nové příspěvky</strong> na
    následujících sedm dní. Stačí je schválit k publikaci nebo přidat své
    připomínky.
  </p>
  <img src="./assets/images/phone_01.png" alt="Phone" class="h-150 mb-10" />
  <a
    href="#"
    class="relative bg-tertiary h-19 border border-tertiary text-white p-2 rounded-full flex items-center justify-center w-11/12 gap-5 transition-colors group hover:bg-dark hover:border-dark"
  >
    <div
      class="bg-white rounded-full w-15 h-15 flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-tertiary w-9 h-9 group-hover:text-dark transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</section>

<section
  class="px-5 bg-primary py-18 overflow-hidden flex flex-col items-center -mt-18"
>
  <h2
    class="text-center text-white text-[54px] leading-[64px] font-black uppercase mb-8"
  >
    Chat pro komunikaci
  </h2>
  <p class="text-center text-white text-xl mb-12">
    Konec e-mailům a nespočtu zpráv v chatovacích aplikacích. S marketingovou
    specialistkou <strong>komunikujete</strong> přímo
    <strong>v aplikaci</strong> a zadáváte tak úkoly snadno a rychle.
  </p>
  <img src="./assets/images/phone_01.png" alt="Phone" class="h-150 mb-10" />
  <a
    href="#"
    class="relative bg-tertiary h-19 border border-tertiary text-white p-2 rounded-full flex items-center justify-center w-11/12 gap-5 transition-colors group hover:bg-dark hover:border-dark"
  >
    <div
      class="bg-white rounded-full w-15 h-15 flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-tertiary w-9 h-9 group-hover:text-dark transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</section>

<section
  class="px-5 bg-accent py-18 overflow-hidden flex flex-col items-center -mt-18"
>
  <h2 class="text-center text-[54px] leading-[64px] font-black uppercase mb-8">
    Kontrola a schvalování
  </h2>
  <p class="text-center text-xl mb-12">
    Všechny naplánované příspěvky můžete
    <strong>schválit jedním kliknutím</strong>, nebo poslat marketingové
    specialistce zpětnou vazbu k úpravám.
  </p>
  <img src="./assets/images/phone_01.png" alt="Phone" class="h-150 mb-10" />
  <a
    href="#"
    class="relative bg-tertiary h-19 border border-tertiary text-white p-2 rounded-full flex items-center justify-center w-11/12 gap-5 transition-colors group hover:bg-dark hover:border-dark"
  >
    <div
      class="bg-white rounded-full w-15 h-15 flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-tertiary w-9 h-9 group-hover:text-dark transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</section>

<section
  class="px-5 bg-primary py-18 overflow-hidden flex flex-col items-center -mt-18"
>
  <h2
    class="text-center text-white text-[54px] leading-[64px] font-black uppercase mb-8"
  >
    Fotky a videa pohromadě
  </h2>
  <p class="text-center text-white text-xl mb-12">
    Aplikace slouží jako úložiště fotek a videí, které pro vás pořídíme.
    <strong>Vždy je máte po ruce</strong>, takže je nemusíte nikde hledat.
  </p>
  <img src="./assets/images/phone_01.png" alt="Phone" class="h-150 mb-10" />
  <a
    href="#"
    class="relative bg-tertiary h-19 border border-tertiary text-white p-2 rounded-full flex items-center justify-center w-11/12 gap-5 transition-colors group hover:bg-dark hover:border-dark"
  >
    <div
      class="bg-white rounded-full w-15 h-15 flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-tertiary w-9 h-9 group-hover:text-dark transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</section>

<section class="px-5">
  <p
    class="text-center text-primary text-[28px] leading-[34px] font-black uppercase mb-4"
  >
    Rychlí start marketingu
  </p>
  <h2 class="text-center text-[44px] leading-[52px] font-black uppercase mb-8">
    Kdy můžete začít aplikaci používat?
  </h2>
  <p class="text-center text-xl mb-10">
    Profesionální <strong>správa sociálních</strong> sítí pro restaurace,
    kavárny a bary. Pomáháme gastro podnikům přilákat více hostů a
    <strong>zvýšit jejich útratu</strong>.
  </p>

  <div class="grid grid-cols-1 gap-6">
    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(150,150,150,0.1)] flex flex-col gap-4"
    >
      <div class="flex items-center">
        <p class="font-black text-3xl uppercase">
          Správce vašich sítí <span class="text-primary">Bára</span>
        </p>
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Bára"
          alt="Quote"
          class="w-17 h-17"
        />
      </div>
      <div class="flex items-center">
        <p class="w-7/8">
          Na jedné straně je naše
          <br class="md:hidden" />
          <strong>specialistka na sociální sítě</strong>,
          <br class="md:hidden" />
          která má na starost vaše profily.
        </p>
        <i
          data-lucide="chevrons-down"
          class="w-18 h-18 text-accent w-1/8 mx-auto"
        ></i>
      </div>
    </div>

    <div
      class="px-8 py-10 bg-primary rounded-xl shadow-[0_0_10px_rgba(150,150,150,0.1)] flex flex-col gap-4"
    >
      <p class="font-black text-3xl text-white uppercase">
        Jednoduchá
        <br class="md:hidden" />
        aplikace
        <br class="md:hidden" />
        Bitez
      </p>
      <p class="text-white">
        Komunikujete přímo v aplikaci Bitez, která vám poskytuje maximální
        kontrolu v reálném čase. Vše vidíte přehledně a ke všemu se můžete
        vyjádřit.
      </p>
      <div class="flex justify-between -mx-1">
        <a href="#">
          <img
            src="./assets/graphic/GetItOnGooglePlay_Badge_Web_color_English.png"
            alt="Get it on Google Play"
            class="h-12"
          />
        </a>
        <a href="#">
          <img
            src="./assets/graphic/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png"
            alt="Download on the App Store"
            class="h-12"
          />
        </a>
      </div>
    </div>

    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(150,150,150,0.1)] flex flex-col gap-4"
    >
      <div class="flex items-center">
        <p class="font-black text-3xl uppercase">
          Vy jako majitel <span class="text-primary">podniku</span>
        </p>
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Jan"
          alt="Quote"
          class="w-17 h-17"
        />
      </div>
      <div class="flex items-center">
        <p class="w-7/8">
          Na druhé straně jste vy jako
          <br class="md:hidden" />
          majitel podniku, který na vše
          <br class="md:hidden" />
          dohlíží a vidí výsledky.
        </p>
        <i
          data-lucide="chevrons-up"
          class="w-18 h-18 text-accent w-1/8 mx-auto"
        ></i>
      </div>
    </div>
  </div>
</section>

{% include 'partials/i-want-to-start.njk' %}
