---
layout: layouts/base.njk
title: Bitez - Marketing pro restaurace
---

<header
  class="bg-primary pt-[120px] pb-[76px] px-5 gap-10 flex flex-col items-center md:p-12 md:h-screen md:pt-[176px] md:justify-center min-h-screen"
>
  <h2 class="text-3xl text-accent md:text-[40px] md:leading-[46px]">
    Ukousněte si víc
  </h2>

  <div class="md:hidden flex flex-col gap-8 items-center">
    <h1 class="text-[54px] leading-[64px] text-white text-center">
      Marketing pro
      <br />
      restaurace
    </h1>
    <p class="text-white text-center text-xl">
      Profesionální <strong>správa sociálních sítí</strong> pro restaurace,
      kavárny a bary. Pomáháme gastro podnikům přilákat více hostů a
      <strong>zvýšit jejich útratu</strong>.
    </p>
  </div>

  <div class="hidden md:flex flex-col gap-10 items-center">
    <h1 class="text-white text-center text-9xl">
      Gastro marketing
      <br />
      v appce
    </h1>
    <p class="text-white text-center leading-[26px] text-[22px] max-w-[1024px]">
      Profesionální <strong>správa sociálních</strong> sítí pro restaurace,
      kavárny a bary <strong>v jednoduché aplikaci</strong>. Pomáháme gastro
      podnikům přilákat více hostů a <strong>zvýšit jejich útratu</strong>.
    </p>
  </div>

  <div class="flex flex-col gap-4 items-center md:flex-row">
    <a
      href="#"
      class="bg-tertiary border border-tertiary text-tertiary p-2 rounded-full flex items-center w-[256px] gap-5 group hover:border-dark hover:bg-dark transition-colors"
    >
      <div
        class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center"
      >
        <i
          data-lucide="chevron-right"
          class="w-9 h-9 group-hover:text-dark transition-colors"
        ></i>
      </div>
      <p class="text-xl font-bold text-white">Zkusit demo</p>
    </a>
    <p class="font-semibold text-xl">nebo</p>
    <a
      href="/contact"
      class="bg-light-green border border-light-green text-white p-2 rounded-full flex items-center w-[256px] gap-5 transition-colors hover:bg-dark-green hover:border-dark-green"
    >
      <div
        class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center text-light-green transition-colors hover:text-dark-green"
      >
        <i data-lucide="chevron-right" class="w-9 h-9"></i>
      </div>
      <p class="text-xl font-bold text-white">Chci začít</p>
    </a>
  </div>
</header>

<main class="p-5 md:p-12">
  <h1
    class="text-5xl text-[54px] leading-[64px] text-center mb-10 md:mb-13 md:text-8xl"
  >
    Co uděláme pro vaše
    <br class="hidden md:block" />
    sociální sítě?
  </h1>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-4 md:gap-8">
    <div
      class="flex flex-col gap-10 items-center bg-white p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)]"
    >
      <div class="flex items-center w-full">
        <h2 class="w-1/2 text-3xl">Správa profilů</h2>
        <span class="w-1/2">
          <i data-lucide="verified" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <p class="text-base w-full">
        <strong>Připravíme publikační plány</strong>
        <br />
        se šťavnatým obsahem.
      </p>
    </div>

    <div
      class="flex flex-col gap-10 items-center bg-white p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)]"
    >
      <div class="flex items-center w-full">
        <h2 class="w-1/2 text-3xl">Fotky a videa</h2>
        <span class="w-1/2">
          <i data-lucide="camera" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <p class="text-base w-full">
        <strong>Natočíme a nafotíme</strong>
        <br />
        skvělý obsah přímo u vás.
      </p>
    </div>

    <div
      class="flex flex-col gap-10 items-center bg-white p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)]"
    >
      <div class="flex items-center w-full">
        <h2 class="w-1/2 text-3xl">Grafika</h2>
        <span class="w-1/2">
          <i data-lucide="brush" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <p class="text-base w-full">
        <strong>Vytváříme provozní grafiku </strong>
        <br />
        pro denní menu a akce.
      </p>
    </div>

    <div
      class="flex flex-col gap-10 items-center bg-white p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)]"
    >
      <div class="flex items-center w-full">
        <h2 class="w-1/2 text-3xl">Sponzoring</h2>
        <span class="w-1/2">
          <i
            data-lucide="dollar-sign"
            class="ml-auto w-20 h-20 text-primary"
          ></i>
        </span>
      </div>
      <p class="text-base w-full">
        <strong>Sponzorujeme příspěvky </strong>
        <br />
        aby vás každý viděl.
      </p>
    </div>
  </div>
</main>

<section class="relative flex flex-col items-center overflow-hidden">
  <div class="px-5">
    <h3
      class="text-center text-primary text-[28px] leading-[34px] mb-4 md:mb-10 md:text-[40px] md:leading-[46px]"
    >
      Chytré řešení pro
      <br class="md:hidden" />
      váš podnik
    </h3>
    <h2 class="text-center text-[44px] leading-[52px] mb-8 md:text-7xl">
      Gastro marketing
      <br />
      ve vašem mobilu.
    </h2>
    <p class="text-center text-xl px-2">
      Pomocí <strong>jednoduché aplikace</strong> budete ve spojení se
      specialistkou, která se stará o
      <strong>marketing vaší restaurace</strong>.
    </p>
  </div>

  <div class="mt-10 flex justify-center relative">
    <img
      src="./assets/images/phones_banner.png"
      alt="Phones"
      class="h-[440px] md:h-[500px] max-w-none relative"
    />
    <div
      class="absolute bottom-0 left-0 w-full h-[200px] bg-gradient-to-b from-transparent to-muted"
    ></div>
  </div>

  <div
    class="flex flex-col gap-4 -mt-20 mb-10 px-5 relative z-10 w-full md:absolute md:bottom-[300px] md:flex-row md:gap-[400px] md:justify-center"
  >
    <ul
      class="flex flex-col bg-white px-6 py-8 gap-6 rounded-xl w-full md:w-[360px] shadow-lg"
    >
      <li class="flex items-center gap-4 text-lg font-bold">
        <i
          data-lucide="check"
          class="w-6 h-6 p-1 bg-accent rounded-full text-white stroke-[5px]"
        ></i>
        Publikační plány
      </li>
      <li class="flex items-center gap-4 text-lg font-bold">
        <i
          data-lucide="check"
          class="w-6 h-6 p-1 bg-accent rounded-full text-white stroke-[5px]"
        ></i>
        Chat se správcem
      </li>
      <li class="flex items-center gap-4 text-lg font-bold">
        <i
          data-lucide="check"
          class="w-6 h-6 p-1 bg-accent rounded-full text-white stroke-[5px]"
        ></i>
        Uložiště fotografií
      </li>
    </ul>

    <ul
      class="flex flex-col bg-white px-6 py-8 gap-6 rounded-xl w-full md:w-[360px] shadow-lg"
    >
      <li class="flex items-center gap-4 text-lg font-bold">
        <i
          data-lucide="check"
          class="w-6 h-6 p-1 bg-accent rounded-full text-white stroke-[5px]"
        ></i>
        Snadné ovládání
      </li>
      <li class="flex items-center gap-4 text-lg font-bold">
        <i
          data-lucide="check"
          class="w-6 h-6 p-1 bg-accent rounded-full text-white stroke-[5px]"
        ></i>
        Efektivita a rychlost
      </li>
      <li class="flex items-center gap-4 text-lg font-bold">
        <i
          data-lucide="check"
          class="w-6 h-6 p-1 bg-accent rounded-full text-white stroke-[5px]"
        ></i>
        Vše na jednom místě
      </li>
    </ul>
  </div>

  <a
    href="/contact"
    class="relative bg-light-green h-[76px] border border-light-green text-white p-2 rounded-full flex items-center justify-center w-11/12 gap-5 transition-colors group hover:bg-dark-green hover:border-dark-green max-w-[288px] md:mt-20"
  >
    <div
      class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-light-green w-9 h-9 group-hover:text-dark-green transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</section>

{% include 'partials/how-does-it-work-component.njk' %}

<section class="bg-accent px-5 py-[72px] flex flex-col items-center gap-10">
  <h2 class="text-center text-[54px] leading-[64px] md:text-7xl -mt-2">
    Co to znamená pro vás?
  </h2>
  <p
    class="text-center text-xl px-2 md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Pro majitele gastro podniků jsme vytvořili speciální marketingovou službu,
    díky které budete na sociálních sítích nepřehlédnutelní.
  </p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 md:gap-8 max-w-[1256px]">
    <div class="flex flex-col bg-white p-8 rounded-xl">
      <h2 class="text-3xl mb-5">
        Ušetříte spoust
        <br />
        času
      </h2>
      <div class="flex items-center w-full">
        <p class="w-3/4 text-base text-tertiary">
          Můžete se <strong>starat jen o to nejdůležitější</strong>.
        </p>
        <span class="w-1/4">
          <i data-lucide="clock" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <a
        class="text-primary text-base underline hover:text-secondary w-fit font-black"
        href="/how-does-it-work"
        >Jak to funguje?</a
      >
    </div>

    <div class="flex flex-col bg-white p-8 rounded-xl">
      <h2 class="text-3xl mb-5">
        Vyladíme vaše
        <br />
        sociální sítě
      </h2>
      <div class="flex items-center w-full">
        <p class="w-3/4 text-base text-tertiary">
          <strong>Váš podnik bude vidět </strong>
          <br />
          a vypadat u toho dobře.
        </p>
        <span class="w-1/4">
          <i data-lucide="check" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <a
        class="text-primary text-base underline hover:text-secondary w-fit font-black"
        href="/how-does-it-work"
        >Jak to funguje?</a
      >
    </div>

    <div class="flex flex-col bg-white p-8 rounded-xl">
      <h2 class="text-3xl mb-5">
        Získáte více
        <br />
        nových hostů
      </h2>
      <div class="flex items-center w-full">
        <p class="w-3/4 text-base text-tertiary">
          <strong> Hosté o vás budou vědět </strong>
          <br />
          a častěji vás navštíví.
        </p>
        <span class="w-1/4">
          <i data-lucide="users" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <a
        class="text-primary text-base underline hover:text-secondary w-fit font-black"
        href="/how-does-it-work"
        >Jak to funguje?</a
      >
    </div>
  </div>
</section>

<section class="relative flex flex-col items-center px-5 md:p-12">
  <h3
    class="text-center text-primary leading-[30px] text-[28px] mb-4 md:mb-10 md:text-[40px] md:leading-[46px]"
  >
    Marketing za dostupnou cenu
  </h3>
  <h2 class="text-center leading-[52px] text-[44px] mb-8 md:mb-12 md:text-7xl">
    <span class="text-primary">4x levnější</span> než průměrná
    <br class="hidden md:block" />
    marketingová agentura
  </h2>
  <p
    class="text-center text-xl px-2 mb-10 md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Pomocí <strong>jednoduché aplikace</strong> budete ve spojení se
    specialistkou, která se stará o <strong>marketing vaší restaurace</strong>.
  </p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-8 w-full">
    <div
      class="flex flex-col border-gray border-2 bg-white px-4 py-12 rounded-xl gap-4 items-center w-full"
    >
      <h3 class="text-center leading-[46px] text-[40px]">Běžná agentura</h3>
      <h4
        class="text-center text-primary leading-[52px] text-[44px] md:text-6xl"
      >
        od 25.000 Kč
      </h4>
      <p class="text-center mb-4">
        Průměrná cena <strong>s měsíční platbou a smlouvou</strong>.
      </p>
      <div class="flex flex-col gap-2 items-center mb-4 md:my-auto">
        <p class="bg-gray w-fit px-4 py-1 font-semibold rounded-full">
          Maximálně 20 hodin práce
        </p>
        <p class="bg-gray w-fit px-4 py-1 font-semibold rounded-full">
          Platíte za tým, který plně nevužíváte
        </p>
        <p class="bg-gray w-fit px-4 py-1 font-semibold rounded-full">
          Zdlouhavé procesy
        </p>
      </div>
      <p class="text-center text-blue-gray text-base max-w-[400px]">
        Cena odpovídá průměrnému agenturnímu fee s počtem 20 hodin měsíčně.
      </p>
    </div>

    <div
      class="flex flex-col border-primary border-2 bg-white px-4 py-12 rounded-xl gap-8 items-center"
    >
      <div>
        <h3 class="text-center leading-[46px] text-[40px] mb-6">
          Marketing
          <br class="md:hidden" />
          od Bitez
        </h3>
        <h4
          class="text-center text-primary leading-[52px] text-[44px] mb-4 md:text-6xl"
        >
          1.890 Kč
        </h4>
        <p class="text-center">
          Pevná týdenní cena <strong>vždy bez závazků</strong>.
        </p>
      </div>

      <div class="bg-primary w-fit p-2 rounded-full flex gap-1">
        <i
          data-lucide="check"
          class="w-6 h-6 p-1 bg-white rounded-full text-primary stroke-[5px]"
        ></i>
        <p class="font-semibold text-white max-w-[400px]">
          Stejné služby jako od agentury
        </p>
      </div>
      <a
        href="/contact"
        class="relative bg-light-green h-[76px] border border-light-green text-white p-2 rounded-full flex items-center justify-center w-full gap-5 transition-colors group hover:bg-dark-green hover:border-dark-green max-w-[288px]"
      >
        <div
          class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center absolute left-2"
        >
          <i
            data-lucide="chevron-right"
            class="text-light-green w-9 h-9 group-hover:text-dark-green transition-colors"
          ></i>
        </div>
        <p class="text-xl font-bold text-white">Chci začít</p>
      </a>
      <p class="text-center text-blue-gray text-base">
        Zobrazená cena platí pro
        <span class="font-bold underline"
          >nejoblíbenější balíček Degustační menu</span
        >.
      </p>
    </div>
  </div>
</section>

<section
  class="bg-white py-[72px] px-5 flex flex-col items-center gap-10 -mb-[72px] md:px-12"
>
  <h2 class="text-center text-primary leading-[64px] text-[54px] md:text-7xl">
    Co říkají
    <br class="md:hidden" />
    naši
    <br class="md:hidden" />
    klienti?
  </h2>
  <div
    class="flex flex-col gap-6 md:flex-row md:justify-center w-full flex-wrap"
  >
    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] flex flex-col gap-4 md:w-[calc(25%-1.5rem)]"
    >
      <div class="flex items-center">
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Daniel"
          alt="Quote"
          class="w-17 h-17"
        />
        <div>
          <p class="font-bold leading-[26px] text-[22px]">Daniel</p>
          <p class="text-base text-blue-gray">Restaurace U Zlatého kohouta</p>
        </div>
      </div>
      <div class="flex items-center gap-px">
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
      </div>
      <p>
        Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Fusce
        dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Integer
        imperdiet lectus quis justo. Sed ut perspiciatis unde omnis.
      </p>
    </div>

    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] flex flex-col gap-4 md:w-[calc(25%-1.5rem)]"
    >
      <div class="flex items-center">
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Daniel"
          alt="Quote"
          class="w-17 h-17"
        />
        <div>
          <p class="font-bold leading-[26px] text-[22px]">Daniel</p>
          <p class="text-base text-blue-gray">Restaurace U Zlatého kohouta</p>
        </div>
      </div>
      <div class="flex items-center gap-px">
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
      </div>
      <p>
        Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Fusce
        dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Integer
        imperdiet lectus quis justo. Sed ut perspiciatis unde omnis.
      </p>
    </div>

    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] flex flex-col gap-4 md:w-[calc(25%-1.5rem)]"
    >
      <div class="flex items-center">
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Daniel"
          alt="Quote"
          class="w-17 h-17"
        />
        <div>
          <p class="font-bold leading-[26px] text-[22px]">Daniel</p>
          <p class="text-base text-blue-gray">Restaurace U Zlatého kohouta</p>
        </div>
      </div>
      <div class="flex items-center gap-px">
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
      </div>
      <p>
        Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Fusce
        dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Integer
        imperdiet lectus quis justo. Sed ut perspiciatis unde omnis.
      </p>
    </div>

    <div
      class="p-8 bg-white rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] flex flex-col gap-4 md:w-[calc(25%-1.5rem)]"
    >
      <div class="flex items-center">
        <img
          src="https://api.dicebear.com/9.x/lorelei/svg?size=68&seed=Daniel"
          alt="Quote"
          class="w-17 h-17"
        />
        <div>
          <p class="font-bold leading-[26px] text-[22px]">Daniel</p>
          <p class="text-base text-blue-gray">Restaurace U Zlatého kohouta</p>
        </div>
      </div>
      <div class="flex items-center gap-px">
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
        <i data-lucide="star" class="w-6 h-6 text-accent fill-accent"></i>
      </div>
      <p>
        Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Fusce
        dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Integer
        imperdiet lectus quis justo. Sed ut perspiciatis unde omnis.
      </p>
    </div>
  </div>
</section>

{% include 'partials/i-want-to-start.njk' %}
