---
layout: layouts/base.njk
title: Bitez - Inventura Instagramu
permalink: "instagram-inventory.html"
---

<header
  class="bg-primary pt-[120px] pb-[76px] px-5 gap-10 flex flex-col items-center md:p-12 md:h-screen md:pt-[176px] md:justify-center min-h-screen"
>
  <h2 class="text-3xl text-accent md:text-[40px] md:leading-[46px] text-center">
    Inventura
    <br class="md:hidden" />
    sociálních sítí
  </h2>
  <div class="flex flex-col gap-8 md:gap-10 items-center">
    <h1 class="text-[54px] leading-[62px] text-white text-center md:text-9xl">
      Získejte více zákazníků
      <br class="hidden md:block" />
      z Instagramu
    </h1>
    <p
      class="text-xl text-white text-center md:leading-[26px] md:text-[22px] max-w-[1024px]"
    >
      <strong>Sociální sítě jsou</strong> pro marketing restaurace
      <strong>to nejdůležitější</strong>. <strong>Zdarma</strong> pro vás
      <strong>připravíme audit</strong>, který vám ukáže, jak je využívat
      naplno.
    </p>
  </div>

  <a
    href="/contact"
    class="relative bg-light-green h-[76px] border border-light-green text-white p-2 rounded-full flex items-center justify-center w-[336px] gap-5 transition-colors group hover:bg-dark-green hover:border-dark-green"
  >
    <div
      class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-light-green w-9 h-9 group-hover:text-dark-green transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</header>

<section class="px-5 flex flex-col items-center gap-10">
  <h2 class="text-center text-[54px] leading-[54px] md:text-7xl -mt-2">
    Pro koho je inventura?
  </h2>
  <p
    class="text-center text-xl px-2 md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Inventura instagram profilu je pro každého provozovatele který chce, aby mu
    <strong>sociální sítě přiváděli více hostů</strong> a zvyšovali hodnotu
    útraty.
  </p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 md:gap-8 max-w-[1256px]">
    <div class="flex bg-white p-8 rounded-xl">
      <h2 class="w-2/3 text-3xl">Majitelé restaurací</h2>
      <span class="w-1/3">
        <i data-lucide="chef-hat" class="ml-auto w-20 h-20 text-primary"></i>
      </span>
    </div>

    <div class="flex bg-white p-8 rounded-xl">
      <h2 class="w-2/3 text-3xl">Majitelé kaváren</h2>
      <span class="w-1/3">
        <i data-lucide="coffee" class="ml-auto w-20 h-20 text-primary"></i>
      </span>
    </div>

    <div class="flex bg-white p-8 rounded-xl">
      <h2 class="w-2/3 text-3xl">Majitelé barů</h2>
      <span class="w-1/3">
        <i data-lucide="martini" class="ml-auto w-20 h-20 text-primary"></i>
      </span>
    </div>
  </div>
</section>

<section class="relative flex flex-col items-center px-5 md:p-12">
  <h3
    class="text-center text-primary leading-[30px] text-[28px] mb-4 md:mb-10 md:text-[40px] md:leading-[46px]"
  >
    Využívejte sociální sítě naplno
  </h3>
  <h2 class="text-center leading-[46px] text-[44px] mb-8 md:mb-12 md:text-7xl">
    Získejte <span class="text-primary">zdarma</span> tipy
    <br class="hidden md:block" />
    pro fungující Instagram
  </h2>
  <p
    class="text-center text-xl px-2 mb-10 md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Podíváme se na <strong>obsah</strong> vašeho
    <strong>instagramu očima zákazníka</strong>. Ukážeme vám co děláte dobře
    nebo špatně a <strong>naservírujeme</strong> vám
    <strong>horu rad a typů</strong>.
  </p>

  <a
    href="#"
    class="mb-10 w-full font-champ text-white text-4xl uppercase bg-primary p-5 rounded-xl block text-center mt-10 hover:bg-secondary transition-colors md:p-7"
  >
    Jak vyplnit profil?
  </a>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-8 w-full">
    <div
      class="flex flex-col border-gray border-[3px] bg-white px-4 py-12 rounded-xl gap-4 items-center w-full"
    >
      <h3 class="text-center leading-[46px] text-[40px] text-gray">
        Špatné řesení
      </h3>
      <p class="text-center text-base max-w-[400px]">
        Průměrná cena <strong>s měsíční platbou a smlouvou</strong>.
      </p>
      <div class="w-full px-2 md:px-12 relative">
        <div class="flex w-full justify-center relative md:justify-start">
          <img
            src="./assets/images/phones_03.png"
            alt="Ukázka aplikace Bitez na mobilních telefonech"
            class="relative"
          />
        </div>

        <div
          class="flex flex-col gap-4 -mt-20 w-full px-2 w-fit relative z-10 md:absolute md:flex-row md:top-[50%] md:left-[40%]"
        >
          <ul
            class="flex flex-col bg-white px-6 py-8 gap-6 rounded-xl md:w-[360px] shadow-lg h-fit"
          >
            <li class="flex items-center gap-4 text-lg w-full font-bold z-10">
              <i
                data-lucide="x"
                class="w-6 h-6 p-1 bg-primary rounded-full text-white stroke-[5px]"
              ></i>
              Publikační plány
            </li>
            <li class="flex items-center gap-4 text-lg w-full font-bold z-10">
              <i
                data-lucide="x"
                class="w-6 h-6 p-1 bg-primary rounded-full text-white stroke-[5px]"
              ></i>
              Chat se správcem
            </li>
            <li class="flex items-center gap-4 text-lg w-full font-bold z-10">
              <i
                data-lucide="x"
                class="w-6 h-6 p-1 bg-primary rounded-full text-white stroke-[5px]"
              ></i>
              Uložiště fotografií
            </li>
          </ul>
        </div>
      </div>
      <p class="text-center text-blue-gray text-base max-w-[400px] mt-auto">
        Cena odpovídá průměrnému agenturnímu fee s počtem 20 hodin měsíčně.
      </p>
    </div>

    <div
      class="flex flex-col border-light-green border-[3px] bg-white px-4 py-12 rounded-xl gap-4 items-center w-full"
    >
      <h3 class="text-center leading-[46px] text-[40px] text-light-green">
        Správné řešení
      </h3>
      <p class="text-center text-base max-w-[400px]">
        Pevná měsíční <strong>cena vždy bez závazků</strong>.
      </p>
      <div class="w-full px-2 md:px-12 relative">
        <div class="flex w-full justify-center relative md:justify-start">
          <img
            src="./assets/images/phones_03.png"
            alt="Ukázka aplikace Bitez na mobilních telefonech"
            class="relative"
          />
        </div>

        <div
          class="flex flex-col gap-4 -mt-20 w-full px-2 w-fit relative z-10 md:absolute md:flex-row md:top-[50%] md:left-[40%]"
        >
          <ul
            class="flex flex-col bg-white px-6 py-8 gap-6 rounded-xl md:w-[360px] shadow-lg h-fit"
          >
            <li class="flex items-center gap-4 text-lg w-full font-bold z-10">
              <i
                data-lucide="check"
                class="w-6 h-6 p-1 bg-light-green rounded-full text-white stroke-[5px]"
              ></i>
              Publikační plány
            </li>
            <li class="flex items-center gap-4 text-lg w-full font-bold z-10">
              <i
                data-lucide="check"
                class="w-6 h-6 p-1 bg-light-green rounded-full text-white stroke-[5px]"
              ></i>
              Chat se správcem
            </li>
            <li class="flex items-center gap-4 text-lg w-full font-bold z-10">
              <i
                data-lucide="check"
                class="w-6 h-6 p-1 bg-light-green rounded-full text-white stroke-[5px]"
              ></i>
              Uložiště fotografií
            </li>
          </ul>
        </div>
      </div>
      <p class="text-center text-blue-gray text-base mt-auto">
        Zobrazená cena platí pro
        <span class="font-bold underline"
          >nejoblíbenější balíček Degustační menu</span
        >.
      </p>
    </div>
  </div>
</section>

<section class="px-5 flex flex-col items-center gap-10">
  <h2 class="text-center text-[54px] leading-[54px] md:text-7xl">
    Chcete vědět víc?
  </h2>
  <p
    class="text-center text-xl px-2 md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Stále váháte, jaký to pro vás bude mít užitek?
  </p>
  <iframe
    src="https://www.youtube.com/embed/xi2D5WX6AZo?si=izonyit6kyYuhBkz"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    class="w-full h-auto aspect-video rounded-xl outline-none max-w-[800px]"
  ></iframe>
  <a
    href="/contact"
    class="relative bg-light-green h-[76px] border border-light-green text-white p-2 rounded-full flex items-center justify-center w-[336px] gap-5 transition-colors group hover:bg-dark-green hover:border-dark-green"
  >
    <div
      class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-light-green w-9 h-9 group-hover:text-dark-green transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</section>

<section
  class="px-5 bg-accent py-[72px] overflow-hidden flex flex-col items-center md:flex-row md:px-40 md:py-[120px] md:items-start"
>
  <div class="w-full md:w-1/2">
    <h2
      class="text-center text-[54px] leading-[54px] mb-8 md:text-left md:text-7xl"
    >
      Neodolatelné
      <br />
      marketingové
      <br />
      recepty
    </h2>
    <p
      class="text-center md:text-left text-xl mb-12 md:leading-[34px] md:text-[22px] max-w-[480px] md:mb-20"
    >
      Náše specialistka projde váš profil a
      <strong>připraví kuchařku</strong> plnou marketingových receptů,
      <strong>kterým neodolá žádný zákazník</strong>.
    </p>
    <a
      href="/contact"
      class="md:w-80 hidden md:flex relative bg-tertiary h-[76px] border border-tertiary text-white p-2 rounded-full items-center justify-center w-11/12 gap-5 transition-colors group hover:bg-dark hover:border-dark"
    >
      <div
        class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center absolute left-2"
      >
        <i
          data-lucide="chevron-right"
          class="text-tertiary w-9 h-9 group-hover:text-dark transition-colors"
        ></i>
      </div>
      <p class="text-xl font-bold text-white">Chci začít</p>
    </a>
  </div>
  <img
    src="./assets/images/ratings.png"
    alt="Mobilní telefon zobrazující hodnocení a recenze v aplikaci Bitez"
    class="w-auto mb-10 md:hidden"
  />
  <div class="hidden relative md:block md:w-1/2 -my-[72px]">
    <img
      src="./assets/images/ratings.png"
      alt="Mobilní telefon zobrazující hodnocení a recenze v aplikaci Bitez"
      class="w-auto mx-auto"
    />
    <div
      class="rotate-[15deg] absolute bg-primary w-[210px] h-[210px] rounded-full flex items-center justify-center -bottom-16 left-0"
    >
      <h3 class="text-white text-6xl text-center">
        Za <span class="text-accent">7</span> dní
      </h3>
    </div>
  </div>
  <a
    href="/contact"
    class="md:hidden relative bg-tertiary h-[76px] border border-tertiary text-white p-2 rounded-full flex items-center justify-center w-11/12 gap-5 transition-colors group hover:bg-dark hover:border-dark"
  >
    <div
      class="bg-white rounded-full w-[60px] h-[60px] flex items-center justify-center absolute left-2"
    >
      <i
        data-lucide="chevron-right"
        class="text-tertiary w-9 h-9 group-hover:text-dark transition-colors"
      ></i>
    </div>
    <p class="text-xl font-bold text-white">Chci začít</p>
  </a>
</section>

<section
  class="px-5 py-[72px] bg-accent md:px-36 flex flex-col items-center -mt-[72px]"
>
  <h2 class="text-center text-[54px] leading-[54px] mb-8 md:mb-12 md:text-7xl">
    Jak to probíhá?
  </h2>
  <p
    class="text-center text-xl mb-10 md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Stačí nám <strong>dát vědět</strong> a my se do toho pustíme.
    <strong>Během jednoho týdne</strong> vám pošleme, jak si vaše sociální sítě
    vedou a <strong>jak mohou být lepší</strong>.
  </p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <div class="flex flex-col bg-white p-8 rounded-xl">
      <div class="flex items-center w-full">
        <h3 class="w-2/3 text-3xl mb-5">
          <span class="text-primary">Vy</span>
          <br />
          se přihlásíte
          <br />
          k inventuře
        </h3>
        <span class="w-1/3">
          <i data-lucide="handshake" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <p class="text-base text-tertiary">
        Vyplníte udaje v konktaním formuláři na této stránce a
        <strong>pošlete nám svůj instagram</strong>.
      </p>
    </div>

    <div class="flex flex-col bg-white p-8 rounded-xl">
      <div class="flex items-center w-full">
        <h3 class="w-2/3 text-3xl mb-5">
          <span class="text-primary">My</span>
          <br />
          připravíme
          <br />
          hodnocení
        </h3>
        <span class="w-1/3">
          <i data-lucide="camera" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <p class="text-base text-tertiary">
        Na vaše sociální sítě se
        <strong>podíváme očima vašeho zákazíka</strong>, zhodnotíme je a
        <strong>řekneme vám co zlepšit</strong>.
      </p>
    </div>

    <div class="flex flex-col bg-white p-8 rounded-xl">
      <div class="flex items-center w-full">
        <h3 class="w-2/3 text-3xl mb-5">
          <span class="text-primary">Společně</span>
          <br />
          probereme
          <br />
          výsledky
        </h3>
        <span class="w-1/3">
          <i
            data-lucide="monitor-smartphone"
            class="ml-auto w-20 h-20 text-primary"
          ></i>
        </span>
      </div>
      <p class="text-base text-tertiary">
        Domluvíme si <strong>videohovor nebo schůzku</strong>, na které
        <strong>projdeme výsledky</strong>, které v inventuře naleznete.
      </p>
    </div>
  </div>

  <a
    href="#"
    class="flex w-full font-champ text-white text-4xl uppercase bg-primary p-5 rounded-xl block justify-center mt-10 hover:bg-secondary transition-colors md:p-7"
  >
    Chci inventuru
    <i
      data-lucide="instagram"
      class="w-9 h-9 ml-2 bg-dark p-1.5 rounded-lg rotate-[10deg] hidden md:block"
    ></i>
  </a>
</section>

<section
  class="px-5 py-[72px] bg-primary -mb-[72px] md:px-36 flex flex-col items-center -mt-[72px]"
>
  <h2 class="text-center text-[54px] leading-[54px] mb-8 md:mb-12 md:text-7xl">
    <span class="text-white"> Inventura Instagramu </span>
    <br class="hidden md:block" />
    zdarma a bez závazků
  </h2>
  <p
    class="text-center text-xl mb-10 text-white md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    Čas jsou peníze a v gastru to platí dvojnásob. Napište nám o inventuru a
    <strong>přivádějte nové zákazníky pomocí instagramu</strong> co nejdříve.
  </p>

  <div
    class="bg-white p-6 rounded-xl mb-10 md:w-1/2 md:gap-10 shadow-[0_0_10px_rgba(0,0,0,0.2)]"
  >
    <form
      class="flex flex-col md:grid md:grid-cols-2 gap-4 w-full"
      data-contact-form
    >
      <div class="relative flex items-center gap-2 md:col-span-2">
        <input
          data-contact-form-input
          type="text"
          name="name"
          placeholder="Odkaz na váš instagram nebo jeho jméno"
          class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-16 outline-none focus:border-accent"
        />
        <i
          data-lucide="instagram"
          class="absolute right-4 w-10 h-10 text-white bg-primary rounded-lg p-2"
        ></i>
      </div>
      <div class="relative flex items-center gap-2">
        <input
          data-contact-form-input
          type="text"
          name="name"
          placeholder="Vaše jméno"
          class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-12 outline-none focus:border-accent"
        />
        <i data-lucide="user" class="absolute right-4 w-6 h-6 text-primary"></i>
      </div>
      <div class="relative flex items-center gap-2">
        <input
          data-contact-form-input
          type="email"
          name="email"
          placeholder="Váš email"
          class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-12 outline-none focus:border-accent"
        />
        <i data-lucide="mail" class="absolute right-4 w-6 h-6 text-primary"></i>
      </div>
      <div class="relative flex items-center gap-2">
        <input
          data-contact-form-input
          type="tel"
          name="phone"
          placeholder="Vaše telefonní číslo"
          class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-12 outline-none focus:border-accent"
        />
        <i
          data-lucide="phone"
          class="absolute right-4 w-6 h-6 text-primary"
        ></i>
      </div>
      <div class="relative flex items-center gap-2">
        <input
          data-contact-form-input
          type="tel"
          name="company"
          placeholder="Název vaší restaurace"
          class="w-full p-4 border border-gray rounded-lg placeholder-gray pr-12 outline-none focus:border-accent"
        />
        <i
          data-lucide="building"
          class="absolute right-4 w-6 h-6 text-primary"
        ></i>
      </div>
      <button
        data-contact-form-submit
        class="w-full bg-light-green text-white p-5 rounded-lg font-bold hover:bg-dark-green transition-colors col-span-2"
      >
        Kontaktujte mě
      </button>
    </form>
    <p class="text-center text-blue-gray text-base mt-4">
      Do 24 hodin se vám ozve náš zástupce, který s vámi potvrdí údaje a pustíme
      se do toho.
    </p>
  </div>
</section>

{% include 'partials/faq-component.njk' %} {% include
'partials/i-want-to-start.njk' %}
