---
layout: layouts/base.njk
title: Bitez - Ceny
permalink: "pricing.html"
---

<header class="mt-[120px] px-5 flex flex-col items-center md:p-12">
  <h3
    class="text-center text-primary text-[28px] leading-[34px] mb-4 md:mb-10 md:text-[40px] md:leading-[46px]"
  >
    Sociální sítě
    <br class="md:hidden" />
    od 250 Kč za den
  </h3>
  <h2 class="text-center text-[44px] leading-[52px] mb-8 md:mb-10 md:text-7xl">
    Dostupný
    <br class="md:hidden" />
    gastro
    <br />
    marketing
  </h2>
  <p
    class="text-center text-xl mb-10 md:leading-[26px] md:text-[22px] max-w-[800px]"
  >
    Víme, že <strong>provozování gastro</strong> podniku
    <strong>není jednoduché</strong>. Nabízíme vám však podmínky, které
    <strong>nezatíží váš rozpočet</strong>.
  </p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 md:items-end">
    {% for plan in plans %} {% include 'partials/plan-item.njk' %} {% endfor %}
  </div>
</header>

<section
  class="px-5 py-[72px] bg-accent -mb-[72px] md:px-36 flex flex-col items-center"
>
  <h2 class="text-center text-[54px] leading-[64px] mb-8 md:mb-12 md:text-7xl">
    Kdy uvidíte výsledky?
  </h2>
  <p
    class="text-center text-xl mb-10 md:leading-[26px] md:text-[22px] max-w-[800px]"
  >
    Potřebujete začít rychle komunikovat na sítích? Sociální sítě vašeho podniku
    rozhýbeme <strong>během sedmí dní</strong>.
  </p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <div class="flex flex-col bg-white p-8 rounded-xl">
      <div class="flex items-center w-full">
        <h3 class="w-2/3 text-3xl mb-5">
          <span class="text-primary"> Den 1</span>
          <br />
          Rozhodnete
          <br />
          se pro Bitez
        </h3>
        <span class="w-1/3">
          <i data-lucide="handshake" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <p class="text-base text-tertiary">
        Vyberete si balíček, přihlásíte se do aplikace a můžete Můžete se
        <strong>začít komunikovat s marketingovou specialistkou</strong>.
      </p>
    </div>

    <div class="flex flex-col bg-white p-8 rounded-xl">
      <div class="flex items-center w-full">
        <h3 class="w-2/3 text-3xl mb-5">
          <span class="text-primary"> Den 2-6</span>
          <br />
          Příprava
          <br />
          a focení
        </h3>
        <span class="w-1/3">
          <i data-lucide="camera" class="ml-auto w-20 h-20 text-primary"></i>
        </span>
      </div>
      <p class="text-base text-tertiary">
        <strong>Předáme si přístupy</strong> k vašim sociálním sítím,
        <strong>uskutečníme focení</strong> a navrhneme
        <strong>grafickou identitu</strong>.
      </p>
    </div>

    <div class="flex flex-col bg-white p-8 rounded-xl">
      <div class="flex items-center w-full">
        <h3 class="w-2/3 text-3xl mb-5">
          <span class="text-primary"> Den 7</span>
          <br />
          Začínáme publikovat
        </h3>
        <span class="w-1/3">
          <i
            data-lucide="monitor-smartphone"
            class="ml-auto w-20 h-20 text-primary"
          ></i>
        </span>
      </div>
      <p class="text-base text-tertiary">
        Vytvoříme obsah a od druhého týdne začínáme
        <strong>plně komunikovat na vašich sociálních sítích</strong>.
      </p>
    </div>
  </div>

  {% include 'partials/i-want-marketing.njk' %}
</section>

{% include 'partials/faq-component.njk' %} {% include
'partials/i-want-to-start.njk' %}
