---
layout: layouts/base.njk
title: BITEZ | TOS
permalink: "tos.html"
---

<header
  class="bg-primary pt-[120px] pb-[76px] px-5 flex flex-col items-center md:p-12 md:pt-[176px] md:justify-center"
>
  <h1
    class="text-[42px] leading-[50px] text-white text-center md:text-[54px] md:leading-[62px] lg:text-7xl"
  >
    Obchodní podmínky marketingových služeb společnosti Bitez Technology s.r.o.
  </h1>
</header>

<main class="p-2 md:p-8 lg:p-12 max-w-[1200px] mx-auto">
  <section class="mb-8 md:mb-10">
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">1. Úvodní ustanovení</h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          1.1. Tyto obchodní podmínky upravují podmínky poskytování
          marketingových služeb společností
          <span class="font-bold">Bitez Technology s.r.o.</span>, IČ: 19896638,
          se sídlem Ruprechtická 387/49, 460 01 Liberec 1, zapsanou u Krajského
          soudu v Ústí nad Labem, oddíl C, vložka 51274 (dále jen „<span
            class="font-bold"
            >Poskytovatel</span
          >“).
        </p>
        <p>
          1.2. Zákazník, který si objedná marketingové služby Poskytovatele,
          tímto potvrzuje, že se s těmito obchodními podmínkami seznámil a
          souhlasí s nimi (dále jen „<span class="font-bold">Objednatel</span
          >“).
        </p>
      </div>
    </div>
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">2. Předmět služeb</h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          2.1. Poskytovatel se zavazuje poskytovat Objednateli marketingové
          služby dle vybraného balíčku. Objednatel se zavazuje za tyto služby
          uhradit sjednanou cenu.
        </p>
        <p>
          2.2. Balíček služeb si Objednatel volí při objednávce označením
          jednoho z následujících variant:
        </p>
        <ul class="list-disc pl-4 md:pl-6 mb-4 md:mb-6">
          <li>
            <strong>Balíček Hlavní jídlo – 1 890 Kč / týden (bez DPH)</strong
            ><br />
            2 fotografie a 3 stories týdně<br />
            3 reel videa měsíčně<br />
            online menu denně<br />
            1x měsíčně focení a natáčení<br />
            sponzoring příspěvků (rozpočet stanoví dohoda, kredity nejsou
            součástí balíčku)<br />
            grafika pro sociální sítě<br />
            1 speciální grafika měsíčně<br />
            publikační plán, vyhodnocení<br />
            aplikace pro komunikaci<br />
            školení a edukace<br />
            přístup do ZoomSphere pro 1 osobu
          </li>
          <li>
            <strong>Balíček Degustační menu – 2 390 Kč / týden (bez DPH)</strong
            ><br />
            3 fotografie, 4 stories a menu týdně<br />
            4 reel videa měsíčně<br />
            ostatní služby jako u balíčku Hlavní jídlo, navíc:<br />
            2 speciální grafiky měsíčně<br />
            přístupy do ZoomSphere pro 2 osoby
          </li>
          <li>
            <strong>Balíček Specialita – 3 890 Kč / týden (bez DPH)</strong
            ><br />
            4 fotografie, 5 stories a menu týdně<br />
            6 reel videí měsíčně<br />
            ostatní služby jako u balíčku Degustační menu, navíc:<br />
            neomezený počet speciálních grafik
          </li>
        </ul>
      </div>
    </div>
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">3. Práva a povinnosti</h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          3.1. Objednatel je povinen zajistit Poskytovateli součinnost potřebnou
          pro poskytování služeb – zejména přístupy na sociální sítě, informace
          a podklady.
        </p>
        <p>
          3.2. Pokud při poskytování služeb vzniknou autorská díla, uděluje
          Poskytovatel Objednateli
          <span class="font-bold"
            >výhradní, bezúplatnou, časově a územně neomezenou licenci</span
          >
          k jejich využití. Objednatel může díla využívat i prostřednictvím
          třetích stran. Podmínkou této licence je využívání služeb minimálně po
          dobu 1 měsíce.
        </p>
      </div>
    </div>
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">
        4. Cena a platební podmínky
      </h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          4.1. Cena za službu je uvedena výše v Kč bez DPH. DPH bude připočtena
          dle platné sazby.
        </p>
        <p>
          4.2. Platba probíhá <span class="font-bold">předem</span>, vždy
          minimálně 1 týden před započetím poskytování služeb, prostřednictvím
          platební brány <span class="font-bold">Stripe</span>.
        </p>
        <p>
          4.3. V případě, že nebude platba uhrazena, není Poskytovatel povinen
          služby poskytovat.
        </p>
        <p>
          4.4. Služby fungují formou
          <span class="font-bold">pravidelného týdenního předplatného</span>.
          Objednatel může předplatné kdykoli zrušit s
          <span class="font-bold">7denní výpovědní lhůtou</span>. Výpověď lze
          učinit i e-mailem.
        </p>
      </div>
    </div>
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">5. Odpovědnost</h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          5.1. Poskytovatel poskytuje služby s odbornou péčí a dle pokynů
          Objednatele. Za výsledky dosažené marketingem nenese záruku.
        </p>
      </div>
    </div>
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">6. Mlčenlivost</h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          6.1. Obě strany se zavazují k mlčenlivosti o všech důvěrných
          informacích, které si v rámci spolupráce sdělí.
        </p>
        <p>6.2. Tato povinnost trvá i po ukončení spolupráce.</p>
        <p>6.3. Mlčenlivost se nevztahuje na informace:</p>
        <ul class="list-disc pl-4 md:pl-6 mb-4 md:mb-6">
          <li>které jsou veřejně dostupné;</li>
          <li>které Poskytovatel získal dříve nezávisle;</li>
          <li>které byly sděleny třetí osobou bez povinnosti mlčenlivosti;</li>
          <li>které musí být sděleny ze zákona.</li>
        </ul>
      </div>
    </div>
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">7. Ukončení spolupráce</h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          7.1. Spolupráci lze ukončit kdykoliv písemnou výpovědí s
          <span class="font-bold">7denní výpovědní lhůtou</span>.
        </p>
        <p>
          7.2. Výpověď je účinná od 1. dne následujícího po jejím doručení. Za
          doručenou se považuje i výpověď e-mailem.
        </p>
      </div>
    </div>
    <div
      class="bg-white p-5 md:p-8 rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)] mb-4 md:mb-6"
    >
      <h2 class="text-2xl text-primary mb-4 md:mb-6">
        8. Závěrečná ustanovení
      </h2>
      <div class="text-sm md:text-base space-y-4">
        <p>
          8.1. Tyto obchodní podmínky se řídí právním řádem České republiky,
          zejména zákonem č. 89/2012 Sb., občanský zákoník.
        </p>
        <p>
          8.2. Poskytovatel si vyhrazuje právo obchodní podmínky měnit. O změně
          bude Objednatel informován e-mailem nebo jinou formou.
        </p>
      </div>
    </div>
  </section>
</main>
