<div data-faq-item class="bg-muted rounded-xl overflow-hidden max-w-[1000px]">
  <button
    data-faq-question
    class="w-full font-champ p-6 text-lg font-bold flex justify-between items-center uppercase md:text-[28px] md:leading-[34px]"
  >
    <span class="w-[90%] text-left">{{ item.question }}</span>
    <span class="w-[10%]">
      <i
        data-faq-icon
        data-lucide="chevron-down"
        class="w-6 md:w-10 h-6 md:h-10 transition-transform text-primary stroke-[3px] ml-auto"
      ></i>
    </span>
  </button>
  <div
    data-faq-answer
    class="px-6 max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
  >
    <p class="pb-6 text-base md:text-lg">
      {{ item.answer }}
    </p>
  </div>
</div>
