<section class="px-5 py-[72px] bg-white -mb-[72px]">
  <h2
    class="text-center text-[54px] leading-[64px] mb-8 md:mb-12 text-primary md:text-7xl"
  >
    Na co se nás ptáte?
  </h2>

  <div class="flex flex-col w-full gap-4 items-center">
    {% for item in faq.invoice_and_contract.questions %} {% include
    'partials/faq-item.njk' %} {% endfor %}
  </div>
</section>
