<footer class="bg-tertiary -mt-18 px-8 py-10 flex flex-col gap-10">
  <div class="flex flex-col gap-2">
    <img
      src="./assets/logo/bitez_logo_cervena.svg"
      alt="Bitez"
      class="h-auto w-30"
    />
    <p class="text-light-gray text-base">Bitez Technology s.r.o.</p>
  </div>

  <ul class="flex flex-col gap-2">
    <li>
      <a
        href="/"
        class="text-2xl text-light-gray hover:text-white transition-colors font-champ underline"
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/how-does-it-work"
        class="text-2xl text-light-gray hover:text-white transition-colors font-champ underline"
      >
        Jak to funguje
      </a>
    </li>
    <li>
      <a
        href="/pricing"
        class="text-2xl text-light-gray hover:text-white transition-colors font-champ underline"
      >
        Ceny
      </a>
    </li>
    <li>
      <a
        href="/contact"
        class="text-2xl text-light-gray hover:text-white transition-colors font-champ underline"
      >
        Kontakt
      </a>
    </li>
    <li>
      <a
        href="/faq"
        class="text-2xl text-light-gray hover:text-white transition-colors font-champ underline"
      >
        Časté dotazy
      </a>
    </li>
  </ul>

  <div>
    <p class="text-2xl text-white font-champ underline mb-4">
      Stáhněte si aplikaci
    </p>
    <ul class="flex flex-col gap-2">
      <li>
        <a href="#">
          <img
            src="./assets/graphic/google-play-badge.png"
            alt="Get it on Google Play"
            class="hauto w-40"
          />
        </a>
      </li>
      <li>
        <a href="#">
          <img
            src="./assets/graphic/app-store-badge.png"
            alt="Download on the App Store"
            class="h-auto w-40"
          />
        </a>
      </li>
    </ul>
  </div>

  <div>
    <p class="text-2xl text-white font-champ underline mb-4">Kontakt</p>
    <ul>
      <li>
        <a
          href="tel:+420 726 772 820"
          class="text-white text-2xl font-champ hover:underline"
        >
          +420 726 772 820
        </a>
      </li>
      <li>
        <a
          href="mailto:ahoj@bitez.cz"
          class="text-white text-2xl font-champ hover:underline"
        >
          ahoj@bitez.cz
        </a>
      </li>
    </ul>
  </div>

  <div>
    <p class="text-2xl text-white font-champ underline mb-4">Sledujte nás</p>
    <ul class="flex gap-4 w-full">
      <li>
        <a
          href="#"
          class="p-6 block bg-primary rounded-xl hover:bg-secondary transition-colors"
        >
          <i data-lucide="instagram" class="text-white w-8 h-8"></i>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="p-6 block bg-primary rounded-xl hover:bg-secondary transition-colors"
        >
          <i data-lucide="facebook" class="text-white w-8 h-8"></i>
        </a>
      </li>
    </ul>
  </div>

  <ul>
    <li>
      <a href="#" class="text-light-gray text-base"> Podmínky používání </a>
    </li>
    <li>
      <a href="#" class="text-light-gray text-base"> Ochrana osobních údajů </a>
    </li>
  </ul>
</footer>
