<section class="px-5 flex flex-col items-center gap-10">
  <h2 class="text-center text-[54px] leading-[54px] md:text-7xl">
    Jak to funguje?
  </h2>
  <p
    class="text-center text-xl px-2 md:leading-[34px] md:text-[22px] max-w-[800px]"
  >
    {% if not '/how-does-it-work' in page.url %} Pro majitele gastro podniků
    jsme vytvořili speciální marketingovou službu, díky které budete na
    <strong>sociálních sítích nepřehlédnutelní</strong>. {% else %} Bitez je
    <strong>gastro marketing přímo ve vašem mobilu</strong> - s námi budete mít
    dokonalý přehled o marketingu vašeho podniku. {% endif %}
  </p>
  <iframe
    src="https://www.youtube.com/embed/xi2D5WX6AZo?si=izonyit6kyYuhBkz"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    class="w-full h-auto aspect-video rounded-xl outline-none max-w-[800px]"
  ></iframe>
</section>
