<section
  class="bg-primary py-10 px-5 flex flex-col items-center gap-10 md:flex-row md:justify-center md:gap-20"
>
  <h1 class="text-center text-white leading-[64px] text-[54px] md:text-7xl">
    Chci začít dělat marketing
  </h1>
  <a
    class="bg-accent border border-accent font-extrabold w-full md:w-56 text-center py-6 rounded-full text-lg hover:bg-accent-dark hover:border-accent-dark transition-colors"
    href="/contact"
  >
    Chci začít
  </a>
</section>
