<nav
  data-navigation
  class="bg-white shadow-xl flex items-center justify-between p-4 px-6 md:p-2 rounded-full fixed top-2 md:top-5 left-2 md:left-5 z-[100] w-[calc(100%-1rem)] md:w-[calc(100%-2.5rem)]"
>
  <a href="/" class="md:ml-8">
    <img
      src="./assets/logo/bitez_logo_cervena.svg"
      alt="Bitez"
      class="h-auto w-[120px]"
    />
  </a>

  <ul class="hidden md:flex items-center gap-8 text-xl font-champ">
    <li>
      <a
        href="/"
        class="text-tertiary uppercase hover:text-primary transition-colors"
        >Home
      </a>
    </li>
    <li>
      <a
        href="/how-does-it-work"
        class="text-tertiary uppercase hover:text-primary transition-colors"
        >Jak to funguje
      </a>
    </li>
    <li>
      <a
        href="/pricing"
        class="text-tertiary uppercase hover:text-primary transition-colors"
        >Ceny
      </a>
    </li>
    <li>
      <a
        href="/contact"
        class="text-tertiary uppercase hover:text-primary transition-colors"
        >Kontakt
      </a>
    </li>
    <li>
      <a
        href="/instagram-inventory"
        class="text-tertiary uppercase hover:text-primary transition-colors"
        >⭐ Inventura Instagramu
      </a>
    </li>
  </ul>

  <a
    href="/contact"
    class="hidden md:flex bg-accent border border-accent text-white p-2 rounded-full items-center w-[216px] transition-colors hover:bg-accent-dark hover:border-accent-dark"
  >
    <div
      class="bg-white rounded-full w-12 h-12 flex items-center justify-center"
    >
      <i data-lucide="chevron-right" class="text-tertiary w-9 h-9"></i>
    </div>
    <p class="text-lg font-bold text-tertiary mx-auto">Chci začít</p>
  </a>

  <div
    data-mobile-menu-toggle
    class="flex flex-col gap-1.5 cursor-pointer md:hidden"
  >
    <div class="h-1 w-8 bg-primary rounded-full transition-all"></div>
    <div class="h-1 w-8 bg-primary rounded-full transition-all"></div>
    <div class="h-1 w-8 bg-primary rounded-full transition-all"></div>
  </div>
</nav>

<div
  data-mobile-menu
  class="fixed inset-0 bg-muted hidden flex-col items-center gap-6 p-5 z-[50]"
>
  <ul class="flex flex-col items-center gap-3 text-xl w-full font-champ pt-24">
    <li class="w-full">
      <a
        href="/"
        class="text-tertiary uppercase w-full px-6 py-5 bg-white rounded-xl flex items-center justify-between hover:text-primary transition-colors"
        >Home
        <i data-lucide="chevron-right" class="w-6 h-6 text-primary"></i>
      </a>
    </li>
    <li class="w-full">
      <a
        href="/how-does-it-work"
        class="text-tertiary uppercase w-full px-6 py-5 bg-white rounded-xl flex items-center justify-between hover:text-primary transition-colors"
        >Jak to funguje
        <i data-lucide="chevron-right" class="w-6 h-6 text-primary"></i>
      </a>
    </li>
    <li class="w-full">
      <a
        href="/pricing"
        class="text-tertiary uppercase w-full px-6 py-5 bg-white rounded-xl flex items-center justify-between hover:text-primary transition-colors"
        >Ceny
        <i data-lucide="chevron-right" class="w-6 h-6 text-primary"></i>
      </a>
    </li>
    <li class="w-full">
      <a
        href="/contact"
        class="text-tertiary uppercase w-full px-6 py-5 bg-white rounded-xl flex items-center justify-between hover:text-primary transition-colors"
        >Kontakt
        <i data-lucide="chevron-right" class="w-6 h-6 text-primary"></i>
      </a>
    </li>
    <li class="w-full">
      <a
        href="/faq"
        class="text-tertiary uppercase w-full px-6 py-5 bg-white rounded-xl flex items-center justify-between hover:text-primary transition-colors"
        >Časté dotazy
        <i data-lucide="chevron-right" class="w-6 h-6 text-primary"></i>
      </a>
    </li>
    <li class="w-full">
      <a
        href="/instagram-inventory"
        class="text-tertiary uppercase w-full px-6 py-5 bg-white rounded-xl flex items-center justify-between hover:text-primary transition-colors"
        >⭐ Inventura Instagramu
        <i data-lucide="chevron-right" class="w-6 h-6 text-primary"></i>
      </a>
    </li>
  </ul>

  <p class="text-2xl text-primary font-champ underline mt-4">
    Stáhněte si aplikaci
  </p>
  <ul class="flex gap-2">
    <li>
      <a href="#">
        <img
          src="./assets/graphic/google-play-badge.png"
          alt="Google Play"
          class="h-[40px] w-auto"
      /></a>
    </li>
    <li>
      <a href="#">
        <img
          src="./assets/graphic/app-store-badge.png"
          alt="App Store"
          class="h-[40px] w-auto"
      /></a>
    </li>
  </ul>
</div>
