<nav
  class="bg-white flex items-center justify-between p-4 px-6 rounded-full fixed top-2 left-2 z-100 w-[calc(100%-1rem)] shadow-xl"
>
  <a href="/">
    <img src="./assets/logo/bitez_logo_cervena.svg" alt="Bitez" class="h-auto w-30" />
  </a>
  <div class="flex flex-col gap-1.5 cursor-pointer md:hidden">
    <div class="h-1 w-8 bg-primary rounded-full"></div>
    <div class="h-1 w-8 bg-primary rounded-full"></div>
    <div class="h-1 w-8 bg-primary rounded-full"></div>
  </div>
</nav>
